        <tr class="{mxtvalue=tabclass}">
          <td align="left">{mxtvalue=reference}</td>
          <td align="left">{mxtvalue=created_formatted}</td>
          <td align="left"><a href="{mxtvalue=link}">{mxtvalue=title}</a> {mxtshowif=newitem}<font color="red">New!</font>{/mxtshowif}</td>
          <td align="left">{mxtvalue=location}</td>
          <td align="left">{mxtvalue=duration}</td>
        </tr>
