<table width="100%" cellpadding="4" cellspacing="0" border="0" align="center" class="contentpane">
  <tr>
    <td><span class="contentheading">{mxtvalue=title}</span></td>
  </tr>
  <tr>
    <td valign="top" class="contentdescription">
      <p>{mxtvalue=description}
	 {mxtshowif=searchlinkempty}</p><p>{mxtvalue=searchlinkempty}{/mxtshowif}
	  {mxtshowif=postjoblink} - <a class='jl_functionlink' href='{mxtvalue=postjoblink}'>{mxtvalue=postjob}</a>{/mxtshowif}</p>
	<p>{mxtvalue=searchlink}</p>
    </td>
  </tr>
  <tr>
    <td><p>{mxtlang=_JL_NOITEMS}</p></td>
  </tr>
</table>
