        <tr class="{mxtvalue=tabclass}">
          <td align="left">{mxtvalue=id}</td>
          <td align="left">{mxtvalue=created_formatted}</td>
          <td align="left"><a href="{mxtvalue=link}">{mxtvalue=title}</a> {mxtshowif=newitem}<font color="red">{mxtlang=_JL_NEWITEM}</font>{/mxtshowif}</td>
          <td align="left">{mxtvalue=company}</td>
        </tr>
