{mxtlang=_JL_RECEIVED_APPLICATION}
{mxtvalue=title} (ID: {mxtvalue=id})

{mxtlang=_JL_APPLICATION}
{mxtlang=_JL_FIRSTNAME}: {mxtvalue=req_firstname}
{mxtlang=_JL_LASTNAME}: {mxtvalue=req_lastname}
{mxtlang=_JL_ADDRESS1}: {mxtvalue=req_address1}
{mxtlang=_JL_ADDRESS2}: {mxtvalue=req_address2}
{mxtlang=_JL_CITY}: {mxtvalue=req_city}
{mxtlang=_JL_STATE}: {mxtvalue=req_state}
{mxtlang=_JL_ZIPCODE}: {mxtvalue=req_zipcode}
{mxtlang=_JL_DAYTELEPHONE}: {mxtvalue=req_daytelephone}
{mxtlang=_JL_EVENINGTELEPHONE}: {mxtvalue=req_eveningtelephone}
{mxtlang=_JL_EMAIL}: {mxtvalue=req_email}

{mxtlang=_JL_COVER_LETTER}: {mxtvalue=req_coverletter}

{mxtlang=_JL_RESUME}: {mxtvalue=req_resume}
