	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="contentpane">
	  <tr>
	    <td class="contentheading" width="100%">{mxtlang=_JL_THANKYOU}</td>
	  </tr>
      <tr>
        <td>
          <p>{mxtvalue=message}</p>
		  <p>
{mxtshowif=id}
            <a href="{mxtvalue=link_job}">{mxtlang=_JL_GOBACKTOJOB}</a> -
{/mxtshowif}
   	        <a href="{mxtvalue=link_list}">{mxtlang=_JL_GOTOLIST}
          </p>
        </td>
      </tr>
    </table>
